extends layout

block content
    h.intro ABOUT
    p.intro I began to study computer science as I had huge interest in game development. After a while, as many other things were needed for a game, I began to dig into other fields such as Animaition (MAYA), Adobe After Efects(Movie Editing), Unity(Game Engine), NodeJS(Server), mySQL & mongoDB(Database). My goal is to develop an app(android platform), gather sufficient database / experience in database, and learn python to do a data-mining sort of activity. 
    br
    p.intro I'm interesed in finding any IT-career related jobs, especially with regrads to Server and Game dev. Frankly, I like most, if it's related to development and creations.
    br
    p.intro Also, I love Ruby, not the programming language, but the cutest girl.
    hr