extends layout
block content
  h.email Email
  p.email Justin.kim.15@ucl.ac.uk
  a(href='https://www.facebook.com/hyojong.justin.1?ref=bookmarks')
    Button.link Facebook
  img.facebook(src='https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/12661856_503167989864896_3546839044706032734_n.jpg?oh=3f394a1b9ecfadbe323534ac2d9be8c8&oe=5733655F')
  hr