extends layout

block content
  div(class="container-fluid")
    div(class="row")
      div(class='col-md-8 col-md-offset-2')
        div.desc(id="myCarousel",class="carousel slide",data-ride="carousel")
          ol(class="carousel-indicators")
            li(data-target="#myCarousel", data-slide-to="0",class="active")
            li(data-target="#myCarousel", data-slide-to="1")
            li(data-target="#myCarousel", data-slide-to="2")
          div(class="carousel-inner",role="listbox")
            div(class="item active")
              img(class="img-responsive center-block",src="images/1.jpg")
            div(class="item")
              img(class="img-responsive center-block",src="images/2.jpg")
            div(class="item")
              img(class="img-responsive center-block",src="images/3.jpg")
            a(class="left carousel-control",href="#myCarousel",role="button",data-slide="prev")
              span(class="glyphicon glyphicon-chevron-left",aria-hidden="true")
              span(class="sr-only") Previous    
            a(class="right carousel-control",href="#myCarousel",role="button",data-slide="next")
              span(class="glyphicon glyphicon-chevron-right",aria-hidden="true")
              span(class="sr-only") Next
    div(class='row')
      div(class="introduction col-md-8 col-md-offset-2")
        p My Knowledge
    div(class='listrow')
      div(class='row')
        div(class='col-md-8 col-md-offset-2')
          div(class='container-fluid')
            div(class='row table')
              div(class='col-md-6')
                img.desc(src='images/nodejsLogo.png')
              div(class='col-md-6')
                img.desc(src='images/mongoDB.png')
      div(class='row')
        div(class='col-md-8 col-md-offset-2')
          div(class='container-fluid')
            div(class='row table')
              div(class='col-md-6')
                img.desc(src='images/htmlAndCss.png')
              div(class='col-md-6')
                img.desc(src='images/unity.png')
                img.desc(src='images/android.png',class="android_logo")


                
              

