doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
  body
    ul.main
        a(href='http://justinproj.com/')
          button.main Home
        a(href='http://justinproj.com/about')
          button.main About
        a(href='http://justinproj.com/projects')  
          button.main Projects
        a(href='http://justinproj.com s/contact')
          button.main(type="submit", onclick="contactGET()") Contact
    hr
    block content
    
    script(src="/javascripts/browsing.js")
