doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
  body
    ul.main
        a(href='http://178.62.212.51/')
          button.main Home
        a(href='http://178.62.212.51/about')
          button.main About
        a(href='http://178.62.212.51/projects')  
          button.main Projects
        a(href='http:// 178.62.212.51/contact')
          button.main(type="submit", onclick="contactGET()") Contact
    hr
    block content
    
    script(src="/javascripts/browsing.js")