extends layout
block content
  ul
    h.projectIntro Ausolaria - Australia's renewable enery <br>
    iframe(width="560" height="315" src="https://www.youtube.com/embed/rEvos2oZzMA" frameborder="0" allowfullscreen)
    p.projectBody This video has been solely created by me, including the videos, animations, effects and drawings. Created by Adobe After Efects 2015, this video has been submitted as a part of coursework, and won as one of the best-visual video.
  hr
  ul
    h.projectIntro How fast are they? - Gravity Explained <br>
    iframe(width="560" height="315" src="https://www.youtube.com/embed/h-FIHBKN0CQ" frameborder="0" allowfullscreen)
    p.projectBody This video has been solely created by me, including the videos, animations, effects and drawings. This was submitted as a part of courework as well. It's one of the stop-motion(very basic) videos I've made.
  hr