extends layout

block content
  table(style="width:100%")
    tr
      td
        a(href='http://justinproj.com/projects/nodeJS')
          Button.proj nodeJS
    tr
      td
        a(href='http://justinproj.com/projects/hackathons')
          Button.proj Hackathons
    tr
      td
        Button.proj App-dev
    tr
      td
        a(href='http://justinproj.com/projects/movie')
          Button.proj Adobe CC / Movies