extends layout

block content
  div(class='container-fluid container-project')
    div(class='row project')
        div(class='h-project')
          p #1 Current Webpage
          div(class='dropdown dropdown-project')
            button(class='btn btn-primary dropdown-toggele',type='button',data-toggle='dropdown') Built On
              span(class='caret')
            ul(class='dropdown-menu')
              li
                p HTML
                p CSS + BootStrap
                p nodeJS - Express
        div(class='p-project')
          p Github: https://github.com/justinrol/portfolio.git
  div(class='container-fluid container-project')
    div(class='row project')
        div(class='h-project')
          p #2 Data Science Studnet Challenge 2016
          p Chance of Allergy - Data Science
          div(class='row')
            div(class='col-md-2')
              div(class='dropdown dropdown-project')
                button(class='btn btn-primary dropdown-toggele',type='button',data-toggle='dropdown') Built On
                  span(class='caret')
                ul(class='dropdown-menu')
                  li
                    p Microsoft Azure Machine Learning
                    p nodeJS - Express
                    p HTML / CSS
            div(class='col-md-4')
              a(href='http://localhost:3000/projects/hackathons/tawesome',class='btn btn-primary link-btn',type='button',role='btn') Link
  div(class='container-fluid container-project')
    div(class='row project')
        div(class='h-project')
          p #3 Sleekr App (Halted Halfway)
          div(class='dropdown dropdown-project')
            button(class='btn btn-primary dropdown-toggele',type='button',data-toggle='dropdown') Built On
              span(class='caret')
            ul(class='dropdown-menu')
              li
                p Android Studio
                p Visa Payment System
                p nodeJS - Express
        div(class='p-project')
          p Github: https://github.com/justinrol/sleekr.git   
  div(class='container-fluid container-project')
    div(class='row project')
        div(class='h-project')
          p #4 JSON Server - APP
          div(class='dropdown dropdown-project')
            button(class='btn btn-primary dropdown-toggele',type='button',data-toggle='dropdown') Built On
              span(class='caret')
            ul(class='dropdown-menu')
              li
                p Android Studio
                p nodeJS - Express & JSON
        div(class='p-project')
          p Github: https://github.com/justinrol/nodeJS-Express-Server.git
  div(class='container-fluid container-project')
    div(class='row project')
        div(class='h-project')
          p #5 Ausolaria - Australia's Renewable Energy Project
          iframe(width="560" height="315" src="https://www.youtube.com/embed/rEvos2oZzMA" frameborder="0" allowfullscreen)
          div(class='dropdown dropdown-project')
            button(class='btn btn-primary dropdown-toggele',type='button',data-toggle='dropdown') Built On
              span(class='caret')
            ul(class='dropdown-menu')
              li
                p Adobe After Effects
                p GIMP - Image Manipulator
