extends layout

block content
    ul.1
      h.projectIntro #1 Current Portfolio Project
      br
      a(href='https://github.com/justinrol/portfolio.git')
        Button.link GitHub
      br
      br
      br
      h.project ABOUT
      br
      p.projectBody This project includes the following modules:
      p.projectList nodeJS - Express Framework & others <br> HTML & CSS <br> Javascript
      p.projectBody This project has started as a way to show what I have built using real-applications, not through texts & videos. I wish visitors could actually interact with what I have built around in this page. 
      hr.project
    ul.2
      h.projectIntro #2 JSON Server App
      br
      a(href='https://github.com/justinrol/nodeJS-Express-Server.git')
        button.link GitHub
      br
      br
      br
      h.project ABOUT
      br
      p.projectBody This project includes the following modules:
      p.projectList nodeJS - Express Framework & Other Modules such as Koa <br> mongoDB <br> mySQL
      p.projectBody This project has started to be able to create a request from mobile devices to obtain JSON data from the server to update the data on the app. This project is able to query necessary data from the databases such as mongoDB and mySQL and then return the data, or insert new data using queries, while avoiding SQL Injection using ? method.
      hr.project