extends layout

block content
  table(style="width:100%")
    tr
      td
        a(href='http://178.62.212.51:3000/nodeJSprojects')
          Button.proj nodeJS
    tr
      td
        Button.proj Unity
    tr
      td
        Button.proj App-dev
    tr
      td
        a(href='http://178.62.212.51:3000/movie')
          Button.proj Adobe CC / Movies