extends ../layout

block content
  ul.1
    h.projectIntro DSSC (Data Science Student Challenge) at UCL 2016
    p.projectBody Try it, and you will see it.
    a(href="http://justinproj.com/projects/hackathons/tawesome")
      Button.link TAWESOME